.found-head{
  width:100%;
  height:4.4rem;
  background:#0dc441;
  position:absolute;
  top:0;
  left:0;
  i{
    color:#fff;
    font-size:1.6rem;
    line-height:4.4rem;
    position:absolute;
    left:.5rem;
  }
  h2{
    color:#fff;
    line-height:4.4rem;
    text-align:center;
    font-size:1.9rem;
  }
}

